@charset "utf-8";
/* CSS Document */
* {
	margin: 0px auto;
	padding: 0px;
}
body {
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	color: #fff;
	font-size: 50px;
	text-align: center;
	margin: 0px auto;
	width: 1920px;
	background: #454f84;
}
ul{padding-left: 44px;}
.blank-space {
	height: 235px;
	clear: both;
}
.clear {
	clear: both;
}
h1 {
	font-size: 90px;
}
h5 {
	font-size: 40px;
	color: #a7a9ac;
	font-style: italic;
}
.container {
	margin: 0px auto;
	width: 100%;
	height: 1507px;
	background: #454f84 url(../images/background-img.jpg);
	background-position: top left;
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
.header {
	text-align: center;
	padding-top: 80px;
	clear: both;
}
.header h1{margin-right: 80px;}
.body-content {
	text-align: left;
	clear: both;
	height: 998px;
	margin-top: 100px;
}
.content-left {
	width: 43%;
margin-right: -8px;
	float: left;
}
.left-img-box1 {
	width: 635px;
	height: 635px;
	background: #d4d5d7;
	border-radius: 100%;
	overflow: hidden;
	border: 8px solid #d5d5d7;
	position: relative;
	bottom: 121px;
	right: 38px;
	z-index: 3;
}
.left-img-box2 {
	width: 480px;
	height: 480px;
	background: #d4d5d7;
	border-radius: 100%;
	overflow: hidden;
	border: 8px solid #d5d5d7;
	position: absolute;
	top: 752px;
	margin-left: 252px;
	z-index: 1;
}
.left-img-box3 {
	width: 380px;
	height: 380px;
	background: #d4d5d7;
	border-radius: 100%;
	overflow: hidden;
	border: 8px solid #d5d5d7;
	position: absolute;
	top: 748px;
	margin-left: 23px;
	z-index: 2;
}
.left-img-box1 img, .left-img-box2 img, .left-img-box3 img {
	width: 100%;
	height: 100%;
}
.content-medil {
	float: left;
	width: 37%;
margin: 0px 70px 0px 0px;
}
.content-right {
	float: left;
	width: 15%;
}
.right-img-box {
	display: inline-table;
	margin: 0px;
	float: left;
}
.right-number {
	text-align: center;
	width: 24%;
	float: left;
	line-height: 78px;
}
.right-img {
	float: left;
	margin-left: 40px;
	width: 57%;
	margin-top: -39px;
}
.right-content-title {
	margin-bottom: 60px;
}
.footer {
	text-align: center;
	clear: both;
	padding-left: 250px;margin-left: 43px;
}
