@charset "utf-8";
/* CSS Document */
* {
	margin: 0px auto;
	padding: 0px;
}
body {
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	color: #fff;
	font-size: 45px;
	text-align: center;
	margin: 0px auto;
	width: 1776px;
	background: #454f84;
}
ul {
	padding-left: 44px;
}
.blank-space {
	height: 35px;
	clear: both;
}
.clear {
	clear: both;
}
h1 {
	font-size: 90px;
}
h5 {
	font-size: 35px;
	color: #a7a9ac;
	font-style: italic;
}
.container {
	margin: 0px auto;
	width: 1776px;
	height: 952px;
	background: #454f84 url(../images/background-img.jpg);
	background-position: top left;
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
.header {
	text-align: center;
	padding-top: 40px;
	clear: both;
}
.header h1 {
	margin-right: 80px;
}
.body-content {
	text-align: left;
	clear: both;
	height: auto;
	margin-top: 30px;
}
.content-left {
	width: 43%;
	margin-right: 10px;
	float: left;
}
.left-img-box1 {
	width: 500px;
	height: 500px;
	background: #d4d5d7;
	border-radius: 100%;
	overflow: hidden;
	border: 8px solid #d5d5d7;
	position: relative;
	bottom: 141px;
	right: -136px;
	z-index: 3;
}
.left-img-box2 {
	width: 340px;
	height: 340px;
	background: #d4d5d7;
	border-radius: 100%;
	overflow: hidden;
	border: 8px solid #d5d5d7;
	position: absolute;
	top: 465px;
	margin-left: 366px;
	z-index: 1;
}
.left-img-box3 {
	width: 240px;
	height: 240px;
	background: #d4d5d7;
	border-radius: 100%;
	overflow: hidden;
	border: 8px solid #d5d5d7;
	position: absolute;
	top: 509px;
	margin-left: 137px;
	z-index: 2;
}
.left-img-box1 img, .left-img-box2 img, .left-img-box3 img {
	width: 100%;
	height: 100%;
}
.content-medil {
	float: left;
	width: 35%;
	margin: 0px 10px 0px 0px;
}
.content-right {
	float: left;
	width: 20%;
}
.right-img-box {
	display: inline-table;
	margin: 0px;
	float: left;
	width: 268px;
}
.right-number {
	text-align: center;
	width: 24%;
	float: left;
	line-height: 46px;
}
.right-img1, .right-img2, .right-img3, .right-img4, .right-img5, .right-img6 {
	float: left;
	margin-left: 33px;
	margin-top: -39px;
	width: 100px;
	height: 100px;
}
.right-content-title {
	margin-bottom: 60px;
	width: -moz-max-content;
	width: -webkit-max-content;
}
.right-message {
	color: #fff;
	font-size: 25px;
	padding-right: 10px;
}
.footer {
	text-align: center;
	clear: both;
	padding-left: 250px;
	margin-left: 43px;
}
