<HTML>
<HEAD>
    <TITLE>Room of the Future</TITLE>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script type="text/javascript"
            src="http://code.jquery.com/jquery-1.10.1.min.js"></script>

    <style>
        body {
            background:#3f8cb3 !important;
        }
    </style>
    <script>
        var TIMEOUT = 5; // in seconds
        var code_count = 0;
        function auth_code_timeout() {
            if (code_count > TIMEOUT) {
                $.get('/clear_code');
                code_count = 0
            }
        }
        function load_vals(result) {
            $("#name").html(result['values']['name']);
            $("#goals_001").html(result['values']['goals_001']);
            $("#goals_002").html(result['values']['goals_002']);
            $("#goals_003").html(result['values']['goals_003']);
            $("#aboutme_001").html(result['values']['aboutme_001']);
            $("#aboutme_002").html(result['values']['aboutme_002']);
            $("#aboutme_003").html(result['values']['aboutme_003']);
            $("#auth_code").html(result['values']['auth_code']);
            if (result['values']['auth_code'] > 0) {
                code_count += 1
            } else {
                code_count = 0
            }
        };

        function load_images() {
            var imgsrc_001 = 'static/file_001.png'
            var imgsrc_002 = 'static/file_002.png'
            var imgsrc_003 = 'static/file_003.png'
            $("#image_001").attr('src', imgsrc_001);
            $("#image_002").attr('src', imgsrc_002);
            $("#image_003").attr('src', imgsrc_003);

        };

        (function poll() {
            setTimeout(function() {
                $.ajax({
                    url : "/patient_info",
                    dataType : 'json',
                    success : function(result){
                        auth_code_timeout();
                        load_vals(result);
                        load_images();
                        // $("#show").html(result);
                        /*
                        $("#name").html(result['values']['name']);
                        $("#goals_001").html(result['values']['goals_001']);
                        $("#goals_002").html(result['values']['goals_002']);
                        $("#goals_003").html(result['values']['goals_003']);
                        $("#aboutme_001").html(result['values']['aboutme_001']);
                        $("#aboutme_002").html(result['values']['aboutme_002']);
                        $("#aboutme_003").html(result['values']['aboutme_003']);
                        */
                    },
                    complete:poll()
                });
            }, 2000);
        })();
    </script>
</HEAD>
<BODY>
AboutMe
<br>
<br>
<div id="name" align="left">loading...</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-4">
            <img class="img-circle" id="image_001" src="static/file_001.png" alt='' width="100" height="100">
        </div>
        <div class="col-sm-4">
            <img class="img-circle" id="image_002" src="static/file_002.png" alt='' width="150" height="150">
        </div>
        <div class="col-sm-4">
            <img class="img-circle" id="image_003" src="static/file_003.png" alt='' width="100" height="100">
        </div>
    </div>
</div>

<table class="table">
    <tr>
        <td id="left-side">
            <ul>
                <li id="goals_001" align="left"></li>
                <li id="goals_002" align="left"></li>
                <li id="goals_003" align="left"></li>
            </ul>
        </td>
        <td id="right-side">
            <ul>
                <li id="aboutme_001" align="left"></li>
                <li id="aboutme_002" align="left"></li>
                <li id="aboutme_003" align="left"></li>
            </ul>

        </td>
    </tr>
</table>


<h2><div id="auth_code" align="center"></div></h2>

</BODY>
</HTML>